*{
    margin: 0px;
    font-family: "inter";
    
}

#header{
    height: 350px;
    color: #c92b2b;
    background-color: #303030;
    font-size: 32px;
    
}
#headerText{
    padding-top: 120px;
    margin-left: 50px;
}
#informations{
    display: grid;
    grid-auto-flow: column;
    background-color: #f9f9f9;
    padding: 60px;
    margin-right: 0px;
    
}
#history{
    background-color:#ffffff;
    display: grid;
    grid-auto-flow: column;
    margin-top: 70px;
    margin-bottom: 70px;
}
#historyText{
    font-size: 35px;
    margin: 200px 20px 200px 100px;
}

img{
    width:600px;
    height: 700px;
}
#form{
    background-color: #303030;
    color: #f9f9f9;
    padding: 150px;
    text-align: center;
}

input{
    border-radius: 5px;
    width: 300px;
    height: 40px;
    background-color: #EAECE5;
    border: 0px;
    margin:15px;
    padding-left: 10px;
    text-align: center;
}
.number{
    font-size: 40px;
    
}

button{
    background-color: #C07212;
    color: aliceblue;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #4d3e12;
    transition-duration: 0.5s;
    border-radius: 5px;
    padding: 6px;
    border: none;
}
button:hover{
    background-color: #C07212;
    color: aliceblue;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #837234;
    transition-duration: 0.5s;
}
p{
    font-size: 25px;
}
